.ovr_bg {
      background: var(--studio-primary-color) !important;
      background-color: var(--studio-primary-color) !important;
    }

    .dark-mode {
      background: black !important;
      color: white !important;
    }

    .dark-mode h1,
    .dark-mode h2,
    .dark-mode h3,
    .dark-mode h4,
    .dark-mode h5,
    .dark-mode h6 {
      color: white !important;
    }

    .dark-mode .ant-list-item-meta-description {
      color: white !important;

    }

    .dark-mode .ant-tabs {
      color: rgba(255, 255, 255, 0.85);
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
    .ant-tabs-tab:hover {
      color: var(--studio-primary-color) !important;
    }

    .ant-tabs-ink-bar {
      background: var(--studio-primary-color) !important;
    }

    .ant-avatar-icon {
      background: var(--studio-primary-color) !important;
    }

    .ant-layout-header .anticon {
      color: var(--studio-info-color) !important;
    }

    .ant-btn-primary {
      background: var(--studio-primary-color) !important;
    }
    

    .HeaderImage {
      height: auto;
      width: 140px !important;
      height: 54px !important;
      display: inline-block;
      background-repeat: no-repeat;
      margin: 0 0 0 20px;
      overflow: hidden;
      background-position: center;
      background-size: contain;
      background-size: 140px auto;
    }

    .ant-row{
      background: #fff;

    }

    .ant-layout-header .ant-row{
      background: var(--studio-primary-color) !important;

    }